@page "/principals"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject SchoolService SchoolService
@inject UserService UserService
@inherits EventAwareComponentBase

<h3>Principals</h3>

@if (SelectedSchool == null)
{
    <div class="alert alert-warning">
        No school selected. Please select a school first.
    </div>
}
else if (UsersInRole == null)
{
    <p>Loading...</p>
}
else if (UsersInRole.Count == 0)
{
    <p>No Principals found for @SelectedSchool.ShortName.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>School</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Principal in Principals)
            {
                <tr>
                    <td>@($"{Principal.FirstName} {Principal.LastName}")</td>
                    <td>@SelectedSchool.ShortName</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => ViewPrincipal(Principal.Id)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button class="btn btn-secondary" @onclick="() => EditPrincipal(Principal.Id)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-danger" @onclick="async () => { await DeletePrincipal(Principal.Id); }">
                            <i class="bi bi-trash3-fill"></i>
                            
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-success" @onclick="GoToAddPrincipal" disabled="@(SelectedSchool == null)">
    Add Principal
</button>

@code {
    private School? SelectedSchool;
    private List<User> UsersInRole = new();
    private List<Principal> Principals = new();
    private bool IsSchoolNotSelected => SelectedSchool == null || SelectedSchool.Id == Guid.Empty;

    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent(UiEvents.SchoolSelected);
        SelectedSchool = SchoolService.GetSelectedSchool();

        if (SelectedSchool != null)
        {
            await LoadUsers();
        }
    }

    private async Task LoadUsers()
    {
        UsersInRole = await UserService.GetUsersByRoleAndSchoolAsync(Roles.Principal, SelectedSchool.Id);
        Principals = UsersInRole.OfType<Principal>().ToList();
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private void GoToAddPrincipal()
    {
        Navigation.NavigateTo("/principals/add");
    }

    private void EditPrincipal(Guid id)
    {
        Navigation.NavigateTo($"/principals/edit/{id}");
    }

    private void ViewPrincipal(Guid id)
    {
        Navigation.NavigateTo($"/principals/details/{id}");
    }

    private async Task DeletePrincipal(Guid id)
    {
        var principal = Principals.FirstOrDefault(p => p.Id == id);
        if (principal != null)
        {
            await UserService.DeleteAsync<Principal>(principal.Id);
            await LoadUsers();
            StateHasChanged();
        }
    }
}