@page "/principals"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject SchoolService SchoolService
@inject UserService UserService
@inherits EventAwareComponentBase

<h3>Principals</h3>
<button class="btn btn-primary" @onclick="GoToAddPrincipal" disabled="@(SelectedSchool == null)">
    Add Principal
</button>

@if (SelectedSchool == null)
{
    <div class="alert alert-warning">
        No school selected. Please select a school first.
    </div>
}
else if (Principals == null)
{
    <p>Loading...</p>
}
else if (Principals.Count == 0)
{
    <p>No Principals found for @SelectedSchool.ShortName.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>School</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Principal in Principals)
            {
                <tr>
                    <td>@($"{Principal.FirstName} {Principal.LastName}")</td>
                    <td>@SelectedSchool.ShortName</td>
                    <ActionButtons TEntity="Principal" Entity="Principal" OnView="ViewPrincipal" OnEdit="EditPrincipal"
                        OnDelete="DeletePrincipal" />
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private School? SelectedSchool;
    private List<Principal>? Principals;

    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent(UiEvents.SchoolSelected);
        SelectedSchool = SchoolService.GetSelectedSchool();

        if (SelectedSchool != null)
        {
            await LoadUsers();
        }
    }

    private async Task LoadUsers()
    {
        if (SelectedSchool == null)
        {
            throw new InvalidOperationException("No school selected when loading users on the Principals page.");
        }
        Principals = await UserService.GetAllByRoleAndSchoolAsync<Principal>(SelectedSchool.Id);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private void GoToAddPrincipal()
    {
        Navigation.NavigateTo("/principals/add");
    }

    private void EditPrincipal(Principal principal)
    {
        Navigation.NavigateTo($"/principals/edit/{principal.Id}");
    }

    private void ViewPrincipal(Principal principal)
    {
        Navigation.NavigateTo($"/principals/details/{principal.Id}");
    }

    private async Task DeletePrincipal(Principal principal)
    {
        if (principal != null)
        {
            await UserService.DeleteAsync<Principal>(principal.Id);
            await LoadUsers();
            StateHasChanged();
        }
    }
}