.pill {
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.pill-container {
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
    /* Ensure consistent width */
}

.phone-button-container {
    min-width: 120px;
    /* Ensure consistent width for the button area */
    display: flex;
    justify-content: flex-start;
}

.on-time {
    background-color: #4CAF50;
    color: white;
}

.late {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.absent {
    background-color: #f44336;
    color: white;
}

.btn-phone {
    background-color: #8a2be2;
    color: white;
    border-radius: 20px;
    min-width: 100px;
    font-size: 0.9rem;
}

.btn-phone-collected {
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    min-width: 100px;
    font-size: 0.9rem;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1040;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1050;
}

.sidebar {
    display: none !important;
}

/* Toggle switch styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}