@inherits LayoutComponentBase

<PageTitle>DCE Portal</PageTitle>

<div class="page">
    <div class="sidebar" style="background-image: linear-gradient(180deg, #000000, @GetSchoolColor() 80%);">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Hi Dawie <a href="_blank" target="_blank">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string GetSchoolColor()
    {
        string currentUrl = NavigationManager.Uri; // Get the current URL
        string relativeUrl = currentUrl.Replace(NavigationManager.BaseUri, ""); // Remove base URL

        return relativeUrl switch
        {
            "broadlands" => "#10315E", // Example route
            "greenacres" => "#24763D", // Default route
            "destiny" => "#640E27", // Another route
            "impact" => "#C00000", // Another route
            "distance" => "#21BDA1", // Another route
            _ => "#4E246C" // Fallback
        };
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; } // Inject NavigationManager
}
