@page "/schools"
@using Lisa.Services
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService

<h3>Schools</h3>
<FluentButton Primary="true" @onclick="() => AddSchool()">
    Add School
</FluentButton>
@if (schools == null)
{
    <p>Loading...</p>
}
else if (schools.Count == 0)
{
    <p>No records found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Short Name</th>
                <th>Long Name</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in schools)
            {
                <tr>
                    <td>@school.ShortName</td>
                    <td>@school.LongName</td>
                    <td>
                        <div class="color-box" style="background-color:@(school.Color);"></div>
                        @school.Color
                    </td>
                    <td>
                        <button @onclick="() => EditSchool(school.Id)">Edit</button>
                        <button @onclick="() => DeleteSchool(school.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Lisa.Models.Entities.School>? schools;

    protected override async Task OnInitializedAsync()
    {
        schools = await SchoolService.GetSchoolsAsync();
    }

    private void EditSchool(Guid id)
    {
        NavigationManager.NavigateTo($"schools/edit/{id}");
    }

    private async Task DeleteSchool(Guid id)
    {
        var school = await SchoolService.GetSchoolAsync(id);
        if (school != null)
        {
            await SchoolService.DeleteSchoolAsync(school);
            schools = await SchoolService.GetSchoolsAsync();
        }
    }

    private void AddSchool()
    {
        NavigationManager.NavigateTo("schools/add");
    }
}