@page "/schools"
@using Lisa.Services
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService

<h3>Schools</h3>
<button class="btn btn-primary" @onclick="() => AddSchool()">
    Add School
</button>
@if (schools == null)
{
    <p>Loading...</p>
}
else if (schools.Count == 0)
{
     <div class="alert alert-info">
        No Schools found, please add a School.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Short Name</th>
                <th>Long Name</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in schools)
            {
                <tr>
                    <td class="align-middle">@school.ShortName</td>
                    <td class="align-middle">@school.LongName</td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center gap-2">
                            <div class="color-box" style="background-color:@(school.Color);"></div>
                            @school.Color
                        </div>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-secondary btn-sm" @onclick="() => ViewSchool(school.Id)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" @onclick="() => EditSchool(school.Id)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" @onclick="() => DeleteSchool(school.Id)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Lisa.Models.Entities.School>? schools;

    protected async override Task OnInitializedAsync()
    {
        schools = await SchoolService.GetAllAsync();
    }

    private void EditSchool(Guid id)
    {
        NavigationManager.NavigateTo($"schools/edit/{id}");
    }
   
    private void ViewSchool(Guid id)
    {
        NavigationManager.NavigateTo($"schools/details/{id}");
    }

    private async Task DeleteSchool(Guid id)
    {
        var school = await SchoolService.GetSchoolAsync(id);
        if (school != null)
        {
            await SchoolService.DeleteAsync(school);
            schools = await SchoolService.GetAllAsync();
        }
    }

    private void AddSchool()
    {
        NavigationManager.NavigateTo("schools/add");
    }
}