@page "/schools"
@using Lisa.Models.Entities
@using Lisa.Services
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService

<h3>Schools</h3>
<button class="btn btn-primary mb-3" @onclick="() => AddSchool()">
    Add School
</button>
@if (schools == null)
{
    <p>Loading...</p>
}
else if (schools.Count == 0)
{
     <div class="alert alert-info">
        No Schools found, please add a School.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Short Name</th>
                <th>Long Name</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in schools)
            {
                <tr>
                    <td class="align-middle">@school.ShortName</td>
                    <td class="align-middle">@school.LongName</td>
                    <td class="align-middle">
                        <div class="d-flex align-items-center gap-2">
                            <div class="color-box" style="background-color:@(school.Color);"></div>
                            @school.Color
                        </div>
                    </td>
                    <ActionButtons TEntity="School" Entity="school" OnView="ViewSchool" OnEdit="EditSchool"
                        OnDelete="DeleteSchool" />
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Lisa.Models.Entities.School>? schools;

    protected async override Task OnInitializedAsync()
    {
        schools = await SchoolService.GetAllAsync();
    }

    private void EditSchool(School school)
    {
        NavigationManager.NavigateTo($"schools/edit/{school.Id}");
    }
   
    private void ViewSchool(School school)
    {
        NavigationManager.NavigateTo($"schools/details/{school.Id}");
    }

    private async Task DeleteSchool(School school)
    {
        if (school != null)
        {
            await SchoolService.DeleteAsync(school);
            schools = await SchoolService.GetAllAsync();
        }
    }

    private void AddSchool()
    {
        NavigationManager.NavigateTo("schools/add");
    }
}