@page "/communication"
@using Lisa.Models.EmailModels
@using Lisa.Models.Entities
@using Lisa.Services
@using RazorLight
@inject EmailService EmailService
@inject EmailTemplateService _emailTemplateService
@inject IRazorLightEngine _razorLightEngine
@inject ResultService _resultService
@inject NavigationManager NavigationManager
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<PageTitle>Communication</PageTitle>
@if (SelectedSchool == null)
{
    <div class="alert alert-info">
        Please select a school to view communication.
    </div>
}
else
{
    <h3>Communication</h3>
    <button class="btn btn-primary" @onclick="SendCommunication">Send Communication</button>
    <button class="btn btn-primary" @onclick="ViewTemplates">View Templates</button>
    <button class="btn btn-primary" @onclick="NavigateToEmailCampaigns">Email Campaigns</button>
}

@code {
    private School? SelectedSchool;

    protected override void OnInitialized()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    private void ViewTemplates()
    {
        NavigationManager.NavigateTo("/communication/email-templates");
    }
    
    private void NavigateToEmailCampaigns()
    {
        NavigationManager.NavigateTo("/email-campaigns");
    }

    private void SendCommunication()
    {
        NavigationManager.NavigateTo("/communication/send");
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                if (payload is School school)
                {
                    SelectedSchool = school;
                }
                break;
        }

        await base.HandleEventAsync(eventName, payload);
    }
}
