@page "/communication/email-templates"
@inject IEmailTemplateService EmailTemplateService
@using Blazored.TextEditor


<button @onclick="SaveTemplate">Save Template</button>

@code {
    private string TemplateContent = "";

    private async Task SaveTemplate()
    {
        await EmailTemplateService.SaveTemplateAsync("WelcomeEmail", TemplateContent);
    }
}