@page "/communication"
@using Lisa.Services
@inject EmailService EmailService

<PageTitle>Communication</PageTitle>
<h3>Communication</h3>
<button class="btn btn-primary" @onclick="SendEmail">Send Communication</button>

@code {
    private void SendEmail()
    {
        var Subject = "Test Email";
        var Body = "This is a test email";

        EmailService.QueueLearnerProgressReportEmail(subject: Subject, body: Body, schoolId: new Guid(), learnerId: new Guid());
    }
}
