@page "/communication"
@using Lisa.Models.EmailModels
@using Lisa.Services
@using RazorLight
@inject EmailService EmailService
@inject EmailTemplateService _emailTemplateService
@inject IRazorLightEngine _razorLightEngine
@inject ResultService _resultService
@inject NavigationManager NavigationManager

<PageTitle>Communication</PageTitle>
<h3>Communication</h3>
<button class="btn btn-primary" @onclick="SendEmail">Send Communication</button>
<button class="btn btn-primary" @onclick="SendEmail">Send Feedback</button>
<button class="btn btn-primary" @onclick="SendEmail">Send Newsletter</button>
<button class="btn btn-primary" @onclick="ViewTemplates">View Templates</button>
<button class="btn btn-primary" @onclick="AddTemplate">Add Template</button>

@code {
    private void AddTemplate()
    {
        NavigationManager.NavigateTo("/communication/email-templates/add");
    }
    private void ViewTemplates()
    {
        NavigationManager.NavigateTo("/communication/email-templates");
    }

    private async Task SendEmail()
    {
        var Subject = "Test Email";
        var Body = "This is a test email";

        var results = await _resultService.GetAllAsync();

        var model = new ProgressReportModel
            {
                ParentName = "Mr. Smith",
                ChildName = "John Smith",
                Results = results
            };

        var template = await _emailTemplateService.GetTemplateAsync("WelcomeEmail");
        string emailBody = await _razorLightEngine.CompileRenderStringAsync("WelcomeEmail", template?.Content, model);

        EmailService.QueueLearnerProgressFeedbackEmail
        (
        subject: Subject,
        body: Body,
        schoolId: new Guid(),
        learnerId: new Guid()
        );
    }
}
