@page "/administrators"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject SchoolService SchoolService
@inject UserService UserService
@inherits EventAwareComponentBase

<h3>Administrators</h3>
<button class="btn btn-success" @onclick="GoToAddAdministrator" disabled="@(SelectedSchool == null)">
    Add Administrator
</button>

@if (SelectedSchool == null)
{
    <div class="alert alert-warning">
        No school selected. Please select a school first.
    </div>
}
else if (UsersInRole == null)
{
    <p>Loading...</p>
}
else if (UsersInRole.Count == 0)
{
    <p>No Administrators found for @SelectedSchool.ShortName.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Administrators)
            {
                <tr>
                    <td>@($"{user.FirstName} {user.LastName}")</td>
                    <td>@SelectedSchool.ShortName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private School? SelectedSchool;
    private List<User> UsersInRole = new();
    private List<Administrator> Administrators = new();

    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent(UiEvents.SchoolSelected);
        SelectedSchool = SchoolService.GetSelectedSchool();

        if (SelectedSchool != null)
        {
            await LoadUsers();
        }
    }

    private async Task LoadUsers()
    {
        UsersInRole = await UserService.GetUsersByRoleAndSchoolAsync(Roles.Administrator, SelectedSchool.Id);
        Administrators = UsersInRole.Select(u => (Administrator)u).ToList();
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private void GoToAddAdministrator()
    {
        Navigation.NavigateTo("/administrators/add");
    }
}
