@using MudBlazor
@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Lisa</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <MudNavMenu Class="mud-width-200">
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="counter" Icon="Icons.Material.Filled.AddBox">Counter</MudNavLink>
        <MudNavLink Href="weather" Icon="Icons.Material.Filled.WbSunny">Weather</MudNavLink>
        <MudNavLink Href="auth" Icon="Icons.Material.Filled.Lock">Auth Required</MudNavLink>
        <AuthorizeView>
            <Authorized>
                <MudNavLink Href="Account/Manage" Icon="Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
                <MudNavLink OnClick="Logout" Icon="Icons.Material.Filled.ExitToApp">Logout</MudNavLink>
            </Authorized>
            <NotAuthorized>
                <MudNavLink Href="Account/Register" Icon="Icons.Material.Filled.PersonAdd">Register</MudNavLink>
                <MudNavLink Href="Account/Login" Icon="Icons.Material.Filled.Login">Login</MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudNavMenu>
</div>

@code {
    private void Logout()
    {
        // perform logout via form post or navigate
        NavigationManager.NavigateTo("Account/Logout", forceLoad: true);
    }
    public void Dispose() { }
}

