@page "/progress-feedback-details/{LearnerId:guid}"
@using Microsoft.AspNetCore.WebUtilities
@inject ProgressFeedbackService ProgressFeedbackService
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject EmailRendererService RenderService

@if (html == string.Empty)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <p class="text-muted">Loading...</p>
    </div>
}
else
{
    <div>@((MarkupString)html)</div>
}
<div class="text-center mt-4">
    <button class="btn btn-secondary btn-lg" @onclick="GoBack">Back</button>
</div>

@code {
    [Parameter]
    public Guid LearnerId { get; set; }
    private string html = string.Empty;
    private DateTime? FromDate { get; set; }
    private DateTime? ToDate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = QueryHelpers.ParseQuery(uri.Query);

        if (queryParams.TryGetValue("fromDate", out var fromDateParam) && 
            DateTime.TryParse(fromDateParam, out var parsedFromDate))
        {
            FromDate = DateTime.SpecifyKind(parsedFromDate, DateTimeKind.Utc);
        }

        if (queryParams.TryGetValue("toDate", out var toDateParam) && 
            DateTime.TryParse(toDateParam, out var parsedToDate))
        {
            ToDate = DateTime.SpecifyKind(parsedToDate, DateTimeKind.Utc);
        }

        html = await RenderService.RenderProgressFeedbackAsync(LearnerId, FromDate, ToDate);
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/progress-feedback");
    }
}
