@page "/progress-feedback-details/{LearnerId:guid}"
@using Lisa.Models.EmailModels
@using Lisa.Models.Entities
@using System.Globalization
@inject ProgressFeedbackService ProgressFeedbackService
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject EmailRendererService RenderService

@if (html == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <p class="text-muted">Loading...</p>
    </div>
}
else
{
    <div>@((MarkupString)html)</div>
}
<div class="text-center mt-4">
    <button class="btn btn-secondary btn-lg" @onclick="GoBack">Back</button>
</div>

@code {
    [Parameter]
    public Guid LearnerId { get; set; }
    private string html = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        html = await RenderService.RenderProgressFeedbackAsync(LearnerId);
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/progress-feedback");
    }
}
