@page "/access-denied"

<h1>Access Denied</h1>
<p>You do not have permission to view this page.</p>

@code {
 // Perhaps we could give two options here
 // navigate back to the page he came from
 // navigate to the login page
}