@page "/communication"
@rendermode InteractiveServer

<PageTitle>Communication</PageTitle>
<h1>Communication</h1>

@code {
    // Send out communication List of Communications for the CURRENT school.
}