@page "/communication"
@using Lisa.Services
@inject EmailService EmailService

<PageTitle>Communication</PageTitle>
<h1>Communication</h1>
<button @onclick="SendEmail">Send Email</button>

@code {
    private void SendEmail()
    {
        var To = "antonroos992@gmail.com";
        var Subject = "Test Email";
        var Body = "This is a test email";

        EmailService.QueueEmail(to: To, subject: Subject, body: Body, schoolId: 1);
    }
}
