@page "/"
@rendermode InteractiveServer
@inject SentryService SentryService

<PageTitle>DCEG Portal</PageTitle>

<AuthorizeView Context="authContext">
    <Authorized>
        <p>You can see this because you are authenticated.</p>

    </Authorized>
    <NotAuthorized>
        <p>You are not authenticated.</p>
        <p>You can log in by clicking <a href="/login">here</a>.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Context="authContext" Roles="@($"{Roles.Teacher}")">
    <Authorized>
        <p>You are a Teacher</p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Context="authContext" Roles="@($"{Roles.SystemAdministrator}")">
    <Authorized>
        <p>You are a System Administrator</p>
    </Authorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
    }
}
