@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>DCEG Portal</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
        <p>You can see this because you are authenticated.</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authenticated.</p>
        <p>You can log in by clicking <a href="/login">here</a>.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="@Roles.Teacher">
    <Authorized>
        <p>You are a Teacher</p>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="@Roles.SystemAdministrator">
    <Authorized>
        <p>You are a System Administrator</p>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationStateTask { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var auth = await authenticationStateTask;
        var user = auth.User;
    }
}