@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>
        <p>You can see this because you are authenticated.</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not authenticated.</p>
        <p>You can log in by clicking <a href="/login">here</a>.</p>
    </NotAuthorized>
</AuthorizeView>