@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager
@rendermode InteractiveServer

<h2>Logged Out</h2>
<p>You have successfully Logged out.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (SignInManager.Context?.User?.Identity?.IsAuthenticated == true)
        {
            await SignInManager.SignOutAsync();
        }
        else
        {
            NavigationManager.NavigateTo("/", true);
        }
    }
}    
