@page "/logout"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject SignInManager<IdentityUser> SignInManager
@rendermode InteractiveServer

<h2>Log Out</h2>
<p>Are you sure you want to Log Out?</p>
<button class="btn btn-primary" @onclick="LogoutWithMiddleware">Yes</button>

@code {
    private void LogoutWithMiddleware()
    {
        NavigationManager.NavigateTo("/logout?middleware=true", true);
    }
}
