@page "/school/{SchoolId:int}"
@inject Lisa.Services.SchoolService SchoolService
@attribute [StreamRendering]

<PageTitle>Schools</PageTitle>

<h1>Schools</h1>

@if (school == null)
{
    @for (int i = 0; i < 3; i++)
    {
        <div class="card skeleton">
            <div class="skeleton-image"></div>
            <div class="skeleton-content">
                <div class="skeleton-title"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-button"></div>
            </div>
        </div>
    }
}
else
{
    <p>@school.Title</p>
}

@code {
    private Lisa.Services.School? school;

    [Parameter]
    public int SchoolId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        school = await SchoolService.GetSchoolAsync(SchoolId);
    }
}
