@page "/schools"
@using Microsoft.AspNetCore.Authorization
@inject Lisa.Services.SchoolService SchoolService
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [Authorize(Roles = Roles.SystemAdministrator)]

<PageTitle>Schools</PageTitle>

<h1>Schools</h1>

@foreach (var school in SchoolService.GetSchools())
{
    <FluentCard>
        <h2>@school.Title</h2>
        <FluentButton Appearance="@Appearance.Accent" @onclick="() => NavigateToSchool(school.Id)">Visit School
        </FluentButton>
    </FluentCard>
}

@code {
    private void NavigateToSchool(int schoolId)
    {
        Navigation.NavigateTo($"/school/{schoolId}");
    }
}
