@page "/learners"
@using Lisa.Models.Entities
@inject SchoolService SchoolService
@inject LearnerService LearnerService
@inject NavigationManager NavigationManager
@inherits EventAwareComponentBase

<h3>Learners</h3>
<button class="btn btn-primary" @onclick="AddLearner">Add Learner</button>
@if (SelectedSchool != null && Learners.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var learner in Learners)
            {
                <tr>
                    <td>@learner.FirstName @learner.LastName</td>
                    <td>@learner.RegisterClass?.Grade?.Name</td>
                    <ActionButtons TEntity="Learner" Entity="learner" OnView="ViewLearner" OnEdit="EditLearner"
                        OnDelete="DeleteLearner" />
                </tr>
            }
        </tbody>
    </table>
}
else if (SelectedSchool != null && !Learners.Any())
{
    <div class="alert alert-info">
        No learners found for @SelectedSchool.ShortName.
    </div>
}
else
{
    <p>Please select a school to view its learners.</p>
}

@code {
    private List<Learner> Learners = new();
    private School? SelectedSchool;

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        if (SelectedSchool != null)
        {
            await LoadLearnersForSelectedSchool(SelectedSchool.Id);
        }
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private async Task LoadLearnersForSelectedSchool(Guid schoolId)
    {
        Learners = await LearnerService.GetLearnersBySchoolAsync(schoolId);
    }

    private void EditLearner(Learner learner)
    {
        NavigationManager.NavigateTo($"/learners/edit/{learner.Id}");
    }

    private void ViewLearner(Learner learner)
    {
        NavigationManager.NavigateTo($"/learners/details/{learner.Id}");
    }

    private void AddLearner()
    {
        NavigationManager.NavigateTo("/learners/add");
    }

    private void DeleteLearner(Learner learner)
    {
        NavigationManager.NavigateTo($"/learners/delete/{learner.Id}");
    }
}
