@page "/logout"
@inject NavigationManager NavigationManager

<h2>Log Out</h2>
<p>Are you sure you want to Log Out?</p>
<button class="btn btn-primary" @onclick="LogoutWithMiddleware">Yes</button>

@code {
    private void LogoutWithMiddleware()
    {
        NavigationManager.NavigateTo("/logout?middleware=true", true);
    }
}
