@page "/combinations"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject CombinationService CombinationService
@inject GradeService GradeService

<h3>Subject Combinations</h3>
<button class="btn btn-primary" @onclick="AddCombination">Add Subject Combination</button>

@if (SubjectCombinations == null)
{
    <p>Loading...</p>
}
else if (Grades == null || !Grades.Any())
{
    <div class="alert alert-warning">
        No Grades found. Please add a grade first before adding Subject combination.
    </div>
}
else if (!SubjectCombinations.Any())
{
    <div class="alert alert-info">
        No Subject Combinations found.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var combination in SubjectCombinations)
            {
                <tr>
                    <td>@combination.Name</td>
                    <td>@combination.Grade?.Name</td>
                    <ActionButtons TEntity="Combination" Entity="combination" OnView="ViewCombination" OnEdit="EditCombination"
                        OnDelete="DeleteCombination" />
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private IEnumerable<Combination>? SubjectCombinations;
    private IEnumerable<Grade>? Grades;

    protected override async Task OnInitializedAsync()
    {
        Grades = await GradeService.GetAllAsync();
        SubjectCombinations = await CombinationService.GetAllAsync();
    }

    private void AddCombination()
    {
        Navigation.NavigateTo("/combinations/add");
    }

    private void ViewCombination(Combination combination)
    {
        Navigation.NavigateTo($"/combinations/view/{combination.Id}");
    }

    private void EditCombination(Combination combination)
    {
        Navigation.NavigateTo($"/combinations/edit/{combination.Id}");
    }

    private void DeleteCombination(Combination combination)
    {
        Navigation.NavigateTo($"/combinations/delete/{combination.Id}");
    }
}
