@page "/combinations"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject CombinationService CombinationService
@inject GradeService GradeService

<h3>Subject Combinations</h3>
<button class="btn btn-primary" @onclick="GoToAddPage">Add Subject Combination</button>

@if (SubjectCombinations == null)
{
    <p>Loading...</p>
}
else if (Grades == null || !Grades.Any())
{
    <div class="alert alert-warning">
        No Grades found. Please add a grade first before adding Subject Combination.
    </div>
}
else if (!SubjectCombinations.Any())
{
    <div class="alert alert-info">
        No Subject Combinations found.
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var combo in SubjectCombinations)
            {
                <tr>
                    <td>@combo.Name</td>
                    <td>@combo.Grade?.Name</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditCombination(combo.Id)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private IEnumerable<Combination>? SubjectCombinations;
    private IEnumerable<Grade>? Grades;

    protected override async Task OnInitializedAsync()
    {
        Grades = await GradeService.GetAllAsync();
        SubjectCombinations = await CombinationService.GetAllAsync();
    }

    private void GoToAddPage()
    {
        Navigation.NavigateTo("/combinations/add");
    }

    private void EditCombination(Guid id)
    {
        Navigation.NavigateTo($"/combinations/edit/{id}");
    }
}
