@page "/school-management/add/"
@using Lisa.Models.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Lisa.Models.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject LisaDbContext DbContext
@inject UserManager<User> UserManager
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<AuthorizeView Context="auth" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
    <Authorized>
        <h3>Add School Management</h3>

        <EditForm Context="edit" Model="Management" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="surname">Surname</label>
                <InputText id="surname" class="form-control" @bind-Value="Management.Surname" />
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <InputText id="name" class="form-control" @bind-Value="Management.Name" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="Management.Email" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="Management.Password" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    private SchoolManagementViewModel Management { get; set; } = new();
    private School? SelectedSchool;

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            if (SelectedSchool == null)
            {
                throw new Exception("No Selected School while trying to add a School Management.");
            }
            
            var userEntity = new SchoolManagement
                {
                    Surname = Management.Surname,
                    Name = Management.Name,
                    Email = Management.Email,
                    UserName = Management.Email,
                    SchoolId = SelectedSchool.Id
                };

            if (string.IsNullOrWhiteSpace(Management.Password))
            {
                throw new Exception("Password is required.");
            }
            
            var result = await UserManager.CreateAsync(userEntity, Management.Password);
            if (result.Succeeded)
            {
                await UserManager.AddToRoleAsync(userEntity, Roles.SchoolManagement);

                Navigation.NavigateTo("/school-management");
            }
            else
            {
                // Handle errors
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/school-management");
    }
}
