@page "/system-administrators"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject SchoolService SchoolService
@inject UserService UserService

<h3>System Administrators</h3>
<button class="btn btn-primary" @onclick="GoToAddSysAdmin">
    Add System Administrator
</button>

@if (UsersInRole == null)
{
    <p>Loading...</p>
}
else if (UsersInRole.Count == 0)
{
    <p>No System Administrators found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UsersInRole)
            {
                <tr>
                    <td>@($"{user.FirstName} {user.LastName}")</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditSysAdmin(user.Id)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button class="btn btn-secondary" @onclick="() => EditSysAdmin(user.Id)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-danger" @onclick="() => DeleteSysAdmin(user.Id)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User> UsersInRole = new();

    protected override async Task OnInitializedAsync()
    {
        UsersInRole = await UserService.GetUsersByRoleAndSchoolAsync(Roles.SystemAdministrator);
    }

    private void GoToAddSysAdmin()
    {
        Navigation.NavigateTo("/system-administrators/add");
    }

    private void EditSysAdmin(Guid id)
    {
        Navigation.NavigateTo($"/system-administrators/edit/{id}");
    }

    private void DeleteSysAdmin(Guid id)
    {
        Navigation.NavigateTo($"/system-administrators/delete/{id}");
    }
}
