@page "/system-administrators/add/"
@using Lisa.Models.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Lisa.Models.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject UserManager<User> UserManager
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<AuthorizeView Context="auth" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
    <Authorized>
        <h3>Add System Administrator</h3>

        <EditForm Context="edit" Model="SysAdmin" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="firstName">First Name</label>
                <InputText id="firstName" class="form-control" @bind-Value="SysAdmin.FirstName" />
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <InputText id="lastName" class="form-control" @bind-Value="SysAdmin.LastName" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="SysAdmin.Email" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="SysAdmin.Password" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    private SystemAdminViewModel SysAdmin { get; set; } = new();
    private School? SelectedSchool;

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = await SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var userEntity = new SystemAdministrator
                {
                    FirstName = SysAdmin.FirstName,
                    LastName = SysAdmin.LastName,
                    Email = SysAdmin.Email,
                    UserName = SysAdmin.Email,
                };

            if (string.IsNullOrWhiteSpace(SysAdmin.Password))
            {
                throw new Exception("Password is required.");
            }
            
            var result = await UserManager.CreateAsync(userEntity, SysAdmin.Password);
            if (result.Succeeded)
            {
                await UserManager.AddToRoleAsync(userEntity, Roles.SystemAdministrator);

                Navigation.NavigateTo("/system-administrators");
            }
            else
            {
                // Handle errors
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/system-administrators");
    }
}
