@page "/email-template/details/{Id:guid}"
@using Lisa.Models.EmailModels
@using Lisa.Models.Entities
@inject EmailTemplateService EmailTemplateService
@inject NavigationManager NavigationManager
@inject ILogger<EmailTemplateDetails> Logger

<PageTitle>Email Template Details</PageTitle>
<AuthorizeView Context="auth" Roles="@($"{Roles.SystemAdministrator}")">
    <Authorized>
        <h3>Email Template Details</h3>

        @if (Template == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <dl class="row">
                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">@Template.Name</dd>

                <dt class="col-sm-2">Subject</dt>
                <dd class="col-sm-10">@Template.Subject</dd>

                <dt class="col-sm-2">Content</dt>
                <dd class="col-sm-10">
                    <div>@((MarkupString)Template.Content)</div>
                </dd>

                <button type="button" class="btn btn-secondary" @onclick="Back">Cancel</button>
            </dl>
        }
    </Authorized>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private EmailTemplate? Template { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Template = await EmailTemplateService.GetTemplateByIdAsync(Id);

        if (Template == null)
        {
            Logger.LogError("Template with Id {Id} not found.", Id);
        }
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/email-templates");
    }
}
