@inherits LayoutComponentBase

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DCEG Portal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Context="authContext" Roles="@Roles.SystemAdministrator">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="schools">
                    <span class="bi bi-mortarboard-nav-menu" aria-hidden="true"></span> Schools
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="grades">
                    <span class="bi grades-icon" aria-hidden="true"></span> Grades
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="subjects">
                    <span class="bi subject-icon" aria-hidden="true"></span> Subjects
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="care-groups">
                    <span class="bi care-groups-icon" aria-hidden="true"></span> Care Groups
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="communication">
                    <span class="bi communication-icon" aria-hidden="true"></span> Communication
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="templates">
                    <span class="bi template-icon" aria-hidden="true"></span> Templates
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Context="authContext" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="results">
                        <span class="bi marks-icon" aria-hidden="true"></span> Capture Marks
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="periods">
                        <span class="bi period-icon" aria-hidden="true"></span> Periods
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Context="authContext"
            Roles="@($"{Roles.SystemAdministrator},{Roles.Principal},{Roles.SchoolManagement},{Roles.Administrator}")">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="combinations">
                    <span class="bi combination-icon" aria-hidden="true"></span> Combinations
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="register-class">
                    <span class="bi bi-mortarboard-nav-menu" aria-hidden="true"></span> Register Class
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="learners">
                    <span class="bi bi-mortarboard-nav-menu" aria-hidden="true"></span> Learners
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="feedback">
                    <span class="bi feedback-icon" aria-hidden="true"></span> Feedback
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <a href="javascript:void(0)" class="nav-link d-flex justify-content-between align-items-center"
                    @onclick="ToggleUserTypes">
                    <span>
                        <span class="bi bi-people-fill"></span> Manage Users
                    </span>

                    <span class="@(showUserTypes ? "bi-caret-down-fill" : "bi-caret-right-fill")"
                        style="font-size: 0.8rem;"></span>
                </a>
            </div>

            @if (showUserTypes)
            {
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="system-administrators">
                        <span class="bi admin-icon" aria-hidden="true"></span> System Admins
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="principals">
                        <span class="bi principal-icon" aria-hidden="true"></span> Principals
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="school-management">
                        <span class="bi school-management-icon" aria-hidden="true"></span> SMT
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="administrators">
                        <span class="bi administrator-icon" aria-hidden="true"></span> Administrators
                    </NavLink>
                </div>
                <div class="nav-item px-3 ms-3">
                    <NavLink class="nav-link" href="teachers">
                        <span class="bi teacher-icon" aria-hidden="true"></span> Teachers
                    </NavLink>
                </div>
            }
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool showUserTypes = false;

    private void ToggleUserTypes()
    {
        showUserTypes = !showUserTypes;
        StateHasChanged();
    }
}