@using Lisa.Models.Entities
@using Lisa.Services
@inherits ComponentBase
@inject SchoolService SchoolService

@if (IsLoading)
{
    <p>Loading...</p>
}
else
{
    <div class="select-school">
        <div class="select-school-text">
            Select School
        </div>
        <div class="select-school-dropdown">
            <FluentSelect TOption="string" @bind-Value="SelectedSchoolId">
                @foreach (var school in schools!)
                {
                    <FluentOption Value="@school.Id.ToString()">@school.ShortName</FluentOption>
                }
            </FluentSelect>
        </div>
    </div>
}

@code {
    private List<School>? schools;
    private string? SelectedSchoolId;
    private bool IsLoading = false;


    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await LoadSchoolsAsync();

        // Subscribe to the event
        SchoolService.SchoolsUpdated += HandleSchoolsUpdated;

        IsLoading = false;
    }

    private async Task LoadSchoolsAsync()
    {
        IsLoading = true;
        schools = await SchoolService.GetAllAsync();
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private void HandleSchoolsUpdated()
    {
        _ = OnSchoolsUpdatedSafeAsync();
    }

    private async Task OnSchoolsUpdatedSafeAsync()
    {
        try
        {
            await LoadSchoolsAsync();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error updating schools: {ex.Message}");
        }
    }

    public void Dispose()
    {
        // Unsubscribe from the event
        SchoolService.SchoolsUpdated -= HandleSchoolsUpdated;
    }
}
