@using Lisa.Models.Entities
@using Lisa.Services
@inject SchoolService SchoolService
@inherits EventAwareComponentBase
@inject IUiEventService UiEventService
@inject ILogger<SelectSchool> _logger

@if (IsLoading)
{
    <div class="select-school">
        <div class="select-school-text">
            Select School
        </div>
        <div class="select-school-dropdown">
            @* <InputSelect class="form-select" id="SelectedSchoolId" TValue="string">
                <option value="">Loading...</option>
            </InputSelect> *@
        </div>
    </div>
}
else
{
    <div class="select-school">
        <div class="select-school-text">
            Select School
        </div>
        <div>
            <InputSelect class="form-select" id="SelectedSchoolId" TValue="string" Value="@SelectedSchoolId"
                ValueChanged="OnSchoolSelected" ValueExpression="@(() => SelectedSchoolId)">
                <option value="">Select School</option>
                @foreach (var school in schools!)
                {
                    <option value="@school.Id.ToString()">@school.ShortName</option>
                }
            </InputSelect>
        </div>
    </div>
}

@code {
    private List<School>? schools;
    private string? SelectedSchoolId;
    private bool IsLoading = false;


    protected override async Task OnInitializedAsync()
    {
        await LoadSchoolsAsync();
        SubscribeToEvent(UiEvents.SchoolsUpdated);
    }

    private async Task LoadSchoolsAsync()
    {
        IsLoading = true;
        await InvokeAsync(StateHasChanged);
        Thread.Sleep(500);
        schools = await SchoolService.GetAllAsync();
        schools = schools.OrderBy(s => s.Id).ToList();
        var selectedSchool = SchoolService.GetSelectedSchool();
        SelectedSchoolId = selectedSchool?.Id.ToString();
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        switch (eventName)
        {
            case UiEvents.SchoolsUpdated:
                await LoadSchoolsAsync();
                break;
        }

        await base.HandleEventAsync(eventName, payload);
    }

    public async Task OnSchoolSelected(string selectedSchoolId)
    {
        SelectedSchoolId = selectedSchoolId;
        if (SelectedSchoolId != null)
        {
            var SelectedSchool = await SchoolService.SetCurrentSchoolAsync(Guid.Parse(SelectedSchoolId));
            await IUiEventService.PublishAsync(UiEvents.SchoolSelected, SelectedSchool);
        }
        else
        {
            _logger.LogError("SelectedSchoolId is null");
        }
    }
}
