@using Lisa.Models.Entities
@using Lisa.Services
@inherits ComponentBase
@inject SchoolService SchoolService

<div class="select-school">
    <div class="select-school-text">
        Select School
    </div>
    <div class="select-school-dropdown">
        <FluentSelect TOption="string" @bind-Value="SelectedSchoolId" @onchange="HandleSelect">
            @foreach (var school in schools!)
            {
                <FluentOption Value="@school.Id.ToString()">@school.ShortName</FluentOption>
            }
        </FluentSelect>
    </div>
</div>
@code {
    private List<School>? schools;
    private string? SelectedSchoolId;

    protected override async Task OnInitializedAsync()
    {
        schools = SchoolService.Schools;
        SchoolService.SchoolsUpdated += OnSchoolsUpdated;
        await LoadSchoolsAsync();
    }

    private async Task LoadSchoolsAsync()
    {
        schools = SchoolService.Schools;
        await InvokeAsync(StateHasChanged);
    }

    private void OnSchoolsUpdated()
    {
        _ = LoadSchoolsAsync();
    }

    private void HandleSelect(ChangeEventArgs e)
    {
        var selectedSchoolId = Guid.Parse(e.Value!.ToString()!);
        SchoolService.SetCurrentSchool(selectedSchoolId);
    }
        public void Dispose()
    {
        SchoolService.SchoolsUpdated -= OnSchoolsUpdated;
    }
}