@using Lisa.Models.Entities
@using Lisa.Services
@inject SchoolService SchoolService
@inherits EventAwareComponentBase
@inject IUiEventService UiEventService
@inject ILogger<SelectSchool> _logger

@if (IsLoading)
{
    <div class="select-school">
        <div class="select-school-text">
            Select School
        </div>
        <div class="select-school-dropdown">
            <FluentSelect TOption="string">
                    <FluentOption>Loading...</FluentOption>
            </FluentSelect>
        </div>
    </div>
}
else
{
    <div class="select-school">
        <div class="select-school-text">
            Select School
        </div>
        <div class="select-school-dropdown">
            <FluentSelect TOption="string" @bind-Value="SelectedSchoolId" @onchange="OnSchoolSelected">
                @foreach (var school in schools!)
                {
                    <FluentOption Value="@school.Id.ToString()">@school.ShortName</FluentOption>
                }
            </FluentSelect>
        </div>
    </div>
}

@code {
    private List<School>? schools;
    private string? SelectedSchoolId;
    private bool IsLoading = false;


    protected override async Task OnInitializedAsync()
    {
        await LoadSchoolsAsync();
        SubscribeToEvent(UiEvents.SchoolsUpdated);
    }

    private async Task LoadSchoolsAsync()
    {
        IsLoading = true;
        await InvokeAsync(StateHasChanged);
        Thread.Sleep(500);
        schools = await SchoolService.GetAllAsync();
        schools = schools.OrderBy(s => s.Id).ToList();
        var selectedSchool = SchoolService.GetSelectedSchool();
        SelectedSchoolId = selectedSchool?.Id.ToString();
        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolsUpdated:
                // Reload Schools to reflect changes.
                await LoadSchoolsAsync();
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }

    public async Task OnSchoolSelected(ChangeEventArgs e)
    {
        SelectedSchoolId = e.Value?.ToString();
        if (SelectedSchoolId != null)
        {
            var SelectedSchool = await SchoolService.SetCurrentSchoolAsync(Guid.Parse(SelectedSchoolId));
            await IUiEventService.PublishAsync(UiEvents.SchoolSelected, SelectedSchool);
        }
        else
        {
            _logger.LogError("SelectedSchoolId is null");
        }
    }
}
