<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
    <title>Document</title>
</head>

<body>
    <h2>Progress Feedback - for {Learner.Firstname} {Learner.LastName}</h2>
    <p>Hi {Parent.FirstName} {Paren.LastName}</p>
    <p>Here is the progress feedback for {Learner.Firstname} {Learner.LastName}:</p>
    <table border="1">
        <tr>
            <div>Afrikaans First Additional Language</div>
        </tr>
        <tr>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
        </tr>
        <tr>
            <th>27/11</th>
            <th>88%</th>

            <th>20/11</th>
            <th>79%</th>

            <th>11/11</th>
            <th>80%</th>

            <th>09/11</th>
            <th>70%</th>

            <th>01/11</th>
            <th>70%</th>

            <th>29/10</th>
            <th>70%</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
            <th>Date</th>
            <th>Mark</th>
        </tr>
        <tr>
            <th>19/10</th>
            <th>60%</th>

            <th>11/10</th>
            <th>65%</th>

        </tr>
    </table>
</body>

</html>
