@page "/teachers/add/"
@using Lisa.Models.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Lisa.Models.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Navigation
@inject UserService UserService
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<AuthorizeView Context="authContext" Roles="@($"{Roles.SystemAdministrator},{Roles.Teacher}")">
    <Authorized>
        <h3>Add Teacher</h3>
        @if (ErrorMessage != string.Empty)
        {
            <div class='alert alert-danger'>@ErrorMessage</div>
        }
        <EditForm Context="editContext" Model="Teacher" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="firstName">First Name</label>
                <InputText id="firstName" class="form-control" @bind-Value="Teacher.FirstName" />
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <InputText id="lastName" class="form-control" @bind-Value="Teacher.LastName" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="Teacher.Email" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="Teacher.Password" />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to access this page.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    private TeacherViewModel Teacher { get; set; } = new();
    private School SelectedSchool { get; set; } = new();
    private string ErrorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                if (payload is School school)
                {
                    SelectedSchool = school;
                }
                break;
        }
        await base.HandleEventAsync(eventName, payload);
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            if (Teacher.Password == null)
            {
                throw new Exception("Password is required.");
            }
            var TeacherModel = new Teacher
                {
                    FirstName = Teacher.FirstName,
                    Email = Teacher.Email,
                    LastName = Teacher.LastName,
                    SchoolId = SelectedSchool.Id,
                    UserName = Teacher.Email
                };
            await UserService.AddUser(TeacherModel, Teacher.Password);
            Navigation.NavigateTo("/teachers");
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error: {ex.Message}";
            await InvokeAsync(StateHasChanged);
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/teachers");
    }
}