@page "/grades"
@using Lisa.Models.Entities
@using Lisa.Models.ViewModels
@inject SchoolService SchoolService
@inject GradeService GradeService
@inject NavigationManager Navigation
@inherits EventAwareComponentBase
@inject ILogger<Grade> Logger

<h3>Grades for @SelectedSchool?.ShortName</h3>
<button class="btn btn-primary mb-3" @onclick="AddGrade">Add Grade</button>
@if (Grades?.Count == 0)
{
    <div class="alert alert-info">
        No grades found for this school.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sequence Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Grades == null)
            {
                <tr>
                    <td>No Grades Found</td>
                </tr>
            }
            else
            {
                @foreach (var grade in Grades)
                {
                    <tr>
                        <td>@grade.Name</td>
                        <td>@grade.SequenceNumber</td>
                        <ActionButtons TEntity="Grade" Entity="grade" OnView="ViewGrade" OnEdit="EditGrade"
                            OnDelete="DeleteGrade" />
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private School? SelectedSchool;
    private List<Grade>? Grades;

    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent(UiEvents.SchoolSelected);
        SelectedSchool = SchoolService.GetSelectedSchool();
        await LoadGrades();
    }

    private async Task LoadGrades()
    {
        if (SelectedSchool != null)
        {
            Grades = await GradeService.GetGradesForSchool(SelectedSchool.Id);
        }
        else
        {
            Logger.LogError("SelectedSchool was null when trying to load grades.");
        }

        if (Grades != null)
        {
            Grades = Grades.OrderBy(g => g.SequenceNumber).ToList();
        }
    }

    private void AddGrade()
    {
        Navigation.NavigateTo("/grades/add");
    }

    private void ViewGrade(Grade grade)
    {
        Navigation.NavigateTo($"/grades/details/{grade.Id}");
    }

    private void EditGrade(Grade grade)
    {
        Navigation.NavigateTo($"/grades/edit/{grade.Id}");
    }

    private async Task DeleteGrade(Grade grade)
    {
        await GradeService.DeleteGradeAsync(grade.Id);
        if (SelectedSchool != null)
        {
            Grades = await GradeService.GetGradesForSchool(SelectedSchool.Id);
        }
        else
        {
            Logger.LogError("SelectedSchool was null when trying to load grades.");
        }
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        // Handle the events and update the state
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                // Cast Payload to a School
                SelectedSchool = payload as School;
                await LoadGrades();
                break;
        }

        // Ensure state change
        await base.HandleEventAsync(eventName, payload);
    }
}
