@page "/care-groups"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject CareGroupService CareGroupService
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<h3>Care Groups</h3>
<button class="btn btn-primary mb-3" @onclick="AddCareGroup">Add Care Group</button>
@if (CareGroups == null)
{
    <p>Loading...</p>
}
else if (!CareGroups.Any())
{
    <div class="alert alert-warning">
        No Care Groups for <strong>@SelectedSchool.ShortName</strong>.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Learner Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var careGroup in CareGroups)
            {
                <tr>
                    <td>@careGroup.Name</td>
                    <td>@careGroup.CareGroupMembers?.Count().ToString()
                    </td>
                    <ActionButtons TEntity="CareGroup" Entity="careGroup" OnView="ViewCareGroup" OnEdit="EditCareGroup"
                        OnDelete="DeleteCareGroup" />
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<CareGroup>? CareGroupsToFilter;
    private IEnumerable<CareGroup>? CareGroups;
    private School SelectedSchool = new();

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = await SchoolService.GetSelectedSchool();
        CareGroupsToFilter = await CareGroupService.GetAllAsync();
        CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        switch (eventName)
        {
            case UiEvents.SchoolSelected:
                if (payload is School school)
                {
                    SelectedSchool = school;
                    if (CareGroupsToFilter != null)
                    {
                        CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
                    }
                }
                break;
        }

        await base.HandleEventAsync(eventName, payload);
    }

    private void AddCareGroup()
    {
        Navigation.NavigateTo("/care-groups/add");
    }

    private void EditCareGroup(CareGroup careGroup)
    {
        Navigation.NavigateTo($"/care-groups/edit/{careGroup.Id}");
    }
    private void ViewCareGroup(CareGroup careGroup)
    {
        Navigation.NavigateTo($"/care-groups/details/{careGroup.Id}");
    }
    private async Task DeleteCareGroup(CareGroup careGroup)
    {
        var CareGroup = await CareGroupService.GetByIdAsync(careGroup.Id);
        if (CareGroup != null)
        {
            await CareGroupService.DeleteAsync(CareGroup);
            CareGroupsToFilter = await CareGroupService.GetAllAsync();
            CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
            await InvokeAsync(StateHasChanged);
        }
    }
}
