@page "/care-groups"
@using Lisa.Models.Entities
@inject NavigationManager Navigation
@inject CareGroupService CareGroupService
@inject SchoolService SchoolService
@inherits EventAwareComponentBase

<h3>Care Groups</h3>
<button class="btn btn-primary" @onclick="AddCareGroup">Add Care Group</button>
@if (CareGroups == null)
{
    <p>Loading...</p>
}
else if (!CareGroups.Any())
{
    <div class="alert alert-warning">
        No Care Groups for <strong>@SelectedSchool.ShortName</strong>.
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Learner Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var careGroup in CareGroups)
            {
                <tr>
                    <td>@careGroup.Name</td>
                    <td>@careGroup.CareGroupMembers?.Count().ToString()</td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-primary btn-sm" @onclick="() => ViewCareGroup(careGroup.Id)">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" @onclick="() => EditCareGroup(careGroup.Id)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" @onclick="() => DeleteCareGroup(careGroup.Id)">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<CareGroup>? CareGroupsToFilter;
    private IEnumerable<CareGroup>? CareGroups;
    private School SelectedSchool = new();

    protected override async Task OnInitializedAsync()
    {
        SelectedSchool = SchoolService.GetSelectedSchool();
        CareGroupsToFilter = await CareGroupService.GetAllAsync();
        CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
        SubscribeToEvent(UiEvents.SchoolSelected);
    }

    protected override async Task HandleEventAsync(string eventName, object? payload)
    {
        if (eventName == UiEvents.SchoolSelected)
        {
            SelectedSchool = payload as School;
            CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
        }

        await base.HandleEventAsync(eventName, payload);
    }

    private void AddCareGroup()
    {
        Navigation.NavigateTo("/care-groups/add");
    }

    private void EditCareGroup(Guid id)
    {
        Navigation.NavigateTo($"/care-groups/edit/{id}");
    }
    private void ViewCareGroup(Guid id)
    {
        Navigation.NavigateTo($"/care-groups/details/{id}");
    }
    private async Task DeleteCareGroup(Guid id)
    {
        var CareGroup = await CareGroupService.GetByIdAsync(id);
        if (CareGroup != null)
        {
            await CareGroupService.DeleteAsync(CareGroup);
            CareGroupsToFilter = await CareGroupService.GetAllAsync();
            CareGroups = CareGroupsToFilter.Where(c => c.SchoolId == SelectedSchool.Id);
            await InvokeAsync(StateHasChanged);
        }
    }
}
