@page "/templates"
@inject NavigationManager Navigation

<PageTitle>Templates</PageTitle>
<h3>Templates</h3>
<button class="btn btn-primary" @onclick="GoToAddTemplate">Add Template</button>

@code {
    private void GoToAddTemplate()
    {
        Navigation.NavigateTo("/templates/add");
    }
}